/* Write yor code here */

.container {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 400px;
  width: 400px;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  border: none;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'roboto';
  font-weight: 600;
  color: #0f172a;
}

.p {
  color: #334155;
}

.button {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 8px;
}
